modules = ["nodejs-20", "web"]
[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
NEXT_PUBLIC_SITE_URL = "https://sterova.tech"
NEXT_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVlZnR6dmVzeWZxaGh0Z29ramdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUwNjM3MjQsImV4cCI6MjEwMDYzOTcyNH0.rbGLBATkiZkym65MWarif-7E7-Zs5H3FGECCLSjFH-o"
NEXT_PUBLIC_SUPABASE_URL = "https://eeftzvesyfqhhtgokjgf.supabase.co"
